body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px #80808040;
    border-radius: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


nav {
    display: flex;
}

.menu-item {
    list-style: none;
    padding: 0.7vw;
    margin-left: 2vw;
    font-size: 1.36vw;
    color: black;
    text-decoration: none;
}

.title {
    color: black;
    font-size: 2.7vw;
    margin: 0;
}


@media screen and (max-width: 768px){.menu-item {
    list-style: none;
    padding: 0vw;
    margin-left: 4vw;
    font-size: 3.2vw;
    color: black;
    text-decoration: none;

}

.title {
    color: black;
    font-size: 3.5vw;
    margin: 0;
}

}

.card {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.card__textbox {
    padding: 20px;
}

.card__titletext {
    font-size: 30px;
    margin-left: 1.36vw;
}

.card__titletext1 {
    font-size: 30px;
    margin-left: 1.36vw;
}

hr {
    border: none;
    border-top: 5px dotted #000;
    margin: 20px 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-item {
    width: 48%;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 5px #80808040;
    position: relative;
    background-color: white;
}

.card__maintext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.44vw;
    color: black;
    text-decoration: none;
}

.contact {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .card-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .card__maintext {
        font-size: 10.88vw;
    }
}


.card2 {
    width: 100%;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
    ;
    box-shadow: 0px 0px 5px 5px #80808040;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    background-color: white;
}

.card__titletext2 {
    font-size: 30px;
    margin-left: 1.36vw;
}

.card__maintext2 {
    font-size: 25px;
    color: black;
    line-height: 80px;
    margin-left: 10px;
}

 @import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
